@charset 'utf-8';

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
body {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  background: #222; 
  overflow: hidden;
}
.navigation {
  position: relative; 
  width: 70px; 
  height: 72px; 
  background: #fff; 
  border-radius: 10px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transform: scale(3.5); 
  transition: 0.5s; 
  transition-delay: 0.8s;
}
.navigation.active {
  width: 200px; 
  height: 200px; 
  transition-delay: 0s;
}
.navigation span {
  position: absolute; 
  width: 7px; 
  height: 7px; 
  background: #333; 
  border: 0px solid #333; 
  transform: translate(calc(14px * var(--x)), calc(14px * var(--y))); 
  cursor: pointer; 
  border-radius: 50%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s; 
  transition-delay: calc(0.1s * var(--i));
}
.navigation.active span {
  width: 45px; 
  height: 45px; 
  background: #eee; 
  border: 1px solid #ddd; 
  transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}
.navigation span ion-icon {
  font-size: 0em; 
  color: #444; 
  transition: 0.5s;
}
.navigation.active span ion-icon {
  font-size: 1.35em;
}
.menuToggle {
  position: absolute; 
  bottom: -15px; 
  width: 30px; 
  height: 15px; 
  background: #fff; 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.menuToggle::before {
  content: ''; 
  position: absolute; 
  left: -9px; 
  top: 0; 
  width: 11.2px; 
  height: 10px; 
  background: transparent; 
  border-top-right-radius: 10px; 
  box-shadow: 2px -5px 0 2px #fff;
}
.menuToggle::after {
  content: ''; 
  position: absolute; 
  right: -9px; 
  top: 0; 
  width: 11.2px; 
  height: 10px; 
  background: transparent; 
  border-top-left-radius: 10px; 
  box-shadow: -2px -5px 0 2px #fff;
}
.menuToggle b {
  position: absolute; 
  top: -10px; 
  width: 25.39px; 
  height: 25px; 
  background: transparent; 
  border-radius: 50%; 
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 1;
}
.menuToggle b::before {
  content: ''; 
  position: absolute; 
  left: 3px; 
  width: 12.3px; 
  height: 2px; 
  background: #333; 
  transform: rotate(45deg); 
  transition: 0.5s; 
  transition-delay: 0.5s;
}
.menuToggle b::after {
  content: ''; 
  position: absolute; 
  right: 3px; 
  width: 12.3px; 
  height: 2px; 
  background: #333; 
  transform: rotate(135deg); 
  transition: 0.5s; 
  transition-delay: 0.5s;
}
.navigation.active .menuToggle b::before {
  left: 6.5px;
}
.navigation.active .menuToggle b::after {
  right: 6.5px;
}

@media (max-width: 740px) {
    .navigation {transform: scale(3);}
}

@media (max-width: 640px) {
    .navigation {transform: scale(2.5);}
}

@media (max-width: 540px) {
    .navigation {transform: scale(2);}
}

@media (max-width: 420px) {
    .navigation {transform: scale(1.65);}
}